<div class="car col-10 p-3 mb-5 card-body rounded-0 bg-dark">
  <h3 class="text-white p-3">ADD NOTES</h3>
  <form action="/tasks/add" method="POST">
    <div>
      <label for="title">Write a title:</label></br>
      <input type="text" name="title" placeholder="title" id="title" class="form-control rounded-0 bg-dark text-white" />
    </div>
    </br>
    <div>
      <label for="description">Description:</label></br>
      <textarea class="form-control rounded-0 bg-dark text-white" placeholder="description" name="description" id="description"></textarea>
    </div>
    </br>
    <button class="btn btn-primary">Add</button>
  </form>
</div>