<div class="container">
    <div class="row">
        <div class="col-6 m-auto">
            {{> tasks/form}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 m-auto">
            {{> tasks/table}}
        </div>
    </div>
</div>